venv
.venv
__pycache__
output_image.jpg
*.pth
.vscode
.idea
*.png
*.jpeg
*.ppg
env
*.deb
*.pth
*.pt
*.jpg
weights/*
/data
accuracy.ipynb
100ph
tmp189rhmyg
app.ipynb
/yolox.egg-info
/build
pgdata/
 /pgdata
pgdata
*.pyc
*.pyo
*.pyd
.DS_Store
temp
notebook_utils.py
web/.env
data.zip